@import url('https://fonts.googleapis.com/css2?family=Mako:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root {
    --color-secondary: #D5FC44;
    --color-a: #21306E;
    --color-b: #0D1AC9;
    --color-white: #fff;
    --color-black: #000;
    --transition: all 0.4s ease;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-black);
}
/* header */
.header{
    background-color: var(--color-black);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.header li {
    margin: 0;
}
.header a {
    font-size: 18px;
    color: var(--color-white);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: var(--transition);
}
.header a:hover:not(.active) {
    background-color:var(--color-secondary);
    border-radius: 12px;
    color: var(--color-black);
}
/* inicio */
.inicio{
    background: var(--color-black);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5rem 0 3rem;
}
.inicio_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    width: 1000px;
    border-radius: 12px;
}
.inicio_left {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px
}
.inicio_left h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}
.inicio_left p {
    text-align: justify;
    margin: 0 0 2.4rem;
    font-size: 20px;
    line-height: 30px;
}
.inicio_right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.inicio_btn {
    display: inline-block;
    background: var(--color-secondary);
    color: var(--color-black);
    padding: 10px 10px;
    border: 3px solid transparent;
    font-size: 15px;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 12px;
    width: 200px;
    text-align: center;
    margin-top: -30px;
}
.inicio_btn:hover {
    background: var(--color-black);
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    transition: var(--transition);
    transform: scale(1.1);
    cursor: pointer;
}
/* estudios */
.estudios {
    background: var(--color-white);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 3rem;
}
.estudios_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 1000px;
    border-radius: 12px;
    padding: 20px;
}
.estudios_container h1 {
    color: var(--color-black);
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
}
.estudios_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    height: 100%;
    width: 100%;
}
.estudios_box {
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    gap: 10px;
}
.estudios_box img {
    width: 150px;
}
.estudios_box h1 {
    color: var(--color-white);
    padding: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
}
.estudios_box p {
    padding: 10px 0 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-white);
}
/* Skills */
.skills {
    background: var(--color-black);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 3rem;
}
.skills_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 1000px;
    border-radius: 12px;
    padding: 20px;
}
.skills h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    color: var(--color-white);
}
.skills_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    height: 100%;
    width: 100%;
}
.skills_box {
    background: var(--color-white);
    border-radius: 12px;
    padding: 20px 40px;
}
.skills_box:hover {
    background: var(--color-secondary);
    transition: var(--transition);
    border-radius: 12px;
}
.skills_box img{
    width: 90px;
    padding-bottom: 10px;
}
.skills_star{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}
.skills_star img {
    width: 15px;
}
/* proyectos */
.proyectos {
    background:var(--color-white);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 3rem;
}
.proyectos_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 1000px;
    border-radius: 12px;
    padding: 20px;
}
.proyectos h1 {
    color: var(--color-black);
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
}
.proyectos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    height: 100%;
    width: 100%;
}
.proyectos_box {
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
}
.proyectos_box img {
    width: 440px;
    border-radius: 12px;
}
.proyectos_box h1 {
    font-weight: 600;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: -15px;
    line-height: 50px;
    color: var(--color-white);
}
/* contacto */
.contacto {
    background:var(--color-black);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 3rem;
}
.contacto_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 1000px;
    border-radius: 12px;
    padding: 20px;
}
.contacto h1 {
    color: var(--color-white);
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
}
.contacto_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    height: 100%;
    width: 100%;
}
.contacto_box {
    background: var(--color-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 3px solid var(--color-secondary);
    border-radius: 12px;
    padding: 10px;
    color: var(--color-black);
    transition: var(--transition);
}
.contacto_box:hover{
    background: var(--color-black);
    transform: scale(1.1);
}
.contacto_box img {
    width: 50px;
    margin-right: 10px;
}
.contacto_box b{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-black);
    transition: var(--transition);
}
.contacto_box:hover b{
    color: var(--color-secondary);
}
/* footer */
.footer {
    background: var(--color-white);
    color: var(--color-black);
    text-align: center;
    height: 4rem;
    padding: 0 0 7rem;
}